<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>The Hello World Page !</title>
</head>

<body>
  <p>Hello World !</p>

  <form action="#" method="POST">
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" data-key="pk_test_bpviEB3yiRjrKRvwt9cm5riu" data-amount="999" data-name="Projet-WEB" data-description="Example charge" data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
      data-locale="auto" data-currency="eur">
    </script>

</body>

</html>